# Summary Generation

### Preliminary Operations

In [1]:
import pandas as pd
import numpy as np
import openai
import ast

In [37]:
#pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000) 
pd.set_option('display.max_colwidth', None)

In [20]:
openai.api_key = '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'

In [28]:
def generate_summary_simple(text):
    response = openai.ChatCompletion.create(
        model="gpt-4",  # Specifica il modello GPT-4
        messages=[{"role": "system", "content": "Riassumi il seguente testo in modo conciso."},
                  {"role": "user", "content": text}],
        temperature=0.7,
        max_tokens=150
    )
    # Accedi al contenuto del messaggio nella risposta
    return response.choices[0].message['content'].strip()

def generate_summary_complex(text, triple):
    response = openai.ChatCompletion.create(
        model="gpt-4",  # Specifica il modello GPT-4
        messages=[{"role": "system", "content": f"Genera un riassunto del seguente testo, focalizzandoti sulle relazioni chiave tra i concetti, in particolare {triple}."},
                  {"role": "user", "content": text}],
        temperature=0.7,
        max_tokens=200
    )
    # Accedi al contenuto del messaggio nella risposta
    return response.choices[0].message['content'].strip()

## Knowledge Base

In [2]:
df_kb= pd.read_csv(r'C:\Users\c.farallo\OneDrive - BE THINK, SOLVE, EXECUTE S.P.A\Desktop\Thesis\df_triple_KB.csv', nrows=1)
df_kb

,Unnamed: 0,claim_id,claim,date_published,explanation,fact_checkers,main_text,sources,label,subjects,triple_REBEL,triple_corenlp,triple_spacy
0,3,10166,"Study: Vaccine for Breast, Ovarian Cancer Has ...","November 8, 2011","While the story does many things well, the ove...",,"The story does discuss costs, but the framing ...",http://clinicaltrials.gov/ct2/results?term=can...,True,"Cancer,WebMD,women's health","[{'subject': 'Ovarian Cancer', 'predicate': 'h...","[{'subject': 'Potential', 'predicate': 'Vaccin...","[{'subject': 'Cancer', 'predicate': 'for Has',..."

In [33]:
# Qui aggiungerai le nuove colonne per i riassunti
df_kb['summary_simple'] = ''
df_kb['summary_complex'] = ''

for index, row in df_kb.iterrows():
    simple_summary = generate_summary_simple(row['claim'])
    if row['triple_REBEL']:  # Controlla se esistono dati
        # Converte la stringa in una lista di dizionari
        triple_REBEL = ast.literal_eval(row['triple_REBEL'])
        if triple_REBEL:  # Controlla se la lista non Ã¨ vuota
            triple_example = f"{triple_REBEL[0]['subject']} {triple_REBEL[0]['predicate']}"
            complex_summary = generate_summary_complex(row['claim'], triple_example)
        else:
            complex_summary = "N/A"
    else:
        complex_summary = "N/A"
    
    df_kb.at[index, 'summary_simple'] = simple_summary
    df_kb.at[index, 'summary_complex'] = complex_summary

In [41]:
df_kb[['claim','summary_simple','summary_complex']]

                                                     claim                                                           summary_simple                                                                                                                                                                                                  summary_complex
0  Study: Vaccine for Breast, Ovarian Cancer Has Potential  A study has found potential in a vaccine for breast and ovarian cancer.  The study suggests that a vaccine for breast and ovarian cancer has potential, indicating a significant breakthrough in cancer research. The vaccine could potentially prevent or treat these types of cancers.

## Dataset Test

In [5]:
df_test = pd.read_csv(r'C:\Users\c.farallo\OneDrive - BE THINK, SOLVE, EXECUTE S.P.A\Desktop\Thesis\B.df_triple_test.csv')
df_test

,Unnamed: 0.1,Unnamed: 0,claim,label,subjects,triple_REBEL,triple_corenlp,triple_spacy
0,0,0,A mother revealed to her child in a letter aft...,false,Glurge Gallery,"[{'subject': 'mother', 'predicate': 'child', '...","[{'subject': 'mother', 'predicate': 'revealed ...","[{'subject': 'mother', 'predicate': 'revealed ..."
1,1,1,Study says too many Americans still drink too ...,true,Health News,"[{'subject': 'drink too much', 'predicate': 'f...",[],[]
2,2,2,Viral image Says 80% of novel coronavirus case...,true,"Facebook Fact-checks, Coronavirus, Viral image,","[{'subject': 'Mild', 'predicate': 'subclass of...","[{'subject': 'Viral image', 'predicate': 'Says...",[]
3,3,3,An email says that 9-year old Craig Shergold o...,false,"Inspirational, Pleas","[{'subject': 'Craig Shergold', 'predicate': 'p...","[{'subject': 'he', 'predicate': 'wants As', 'o...","[{'subject': 'email', 'predicate': 'says of of..."
4,4,4,"Employees at a Five Guys restaurant in Daphne,...",unproven,Law Enforcement,"[{'subject': 'Five Guys', 'predicate': 'locati...","[{'subject': 'Five Guys restaurant', 'predicat...","[{'subject': 'Employees', 'predicate': 'at in ..."
...,...,...,...,...,...,...,...,...
1230,1230,1230,Christmas miracle for Florida dog whose heart ...,true,"Animals, Health, Florida, General News, Gaines...",[{'subject': 'Christmas miracle for Florida do...,[],[]
1231,1231,1231,Another dolphin dies at Arizona aquatic facility.,true,"Arizona, Animals, Phoenix, Health, Dolphins","[{'subject': 'aquatic facility', 'predicate': ...",[],[]
1232,1232,1232,"What the facts say"" is ...Â ""the best scenario ...",false,"National, Children, Race and Ethnicity, Reince...","[{'subject': 'mom', 'predicate': 'spouse', 'ob...","[{'subject': 'scenario', 'predicate': 'is', 'o...","[{'subject': 'facts', 'predicate': 'is for', '..."
1233,1233,1233,FDA advisory panel rejects J&J drug for acute ...,true,Health News,[{'subject': 'drug for acute coronary syndrome...,"[{'subject': 'FDA advisory panel', 'predicate'...","[{'subject': 'panel', 'predicate': 'rejects fo..."
1234,1234,1234,Gene-editing Chinese scientist kept much of hi...,true,"AP Top News, Health, Genetic Frontiers, Medica...","[{'subject': 'Gene-editing', 'predicate': 'pra...","[{'subject': 'scientist', 'predicate': 'kept',...","[{'subject': 'scientist', 'predicate': 'kept o..."